<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Product</title>
  </head>
  <body>
    <h1>Add A Product</h1>
    <form method="POST" action="/products">
      <section>
        <label for="name"><b>Name</b></label>
        <br />
        <input id="name" type="text" name="name" placeholder="Product Name" />
      </section>
      <br />
      <section>
        <label for="price"><b>Price (Unit)</b></label>
        <br />
        <input id="price" type="number" name="price" placeholder="Price" />
      </section>
      <br />
      <section>
        <fieldset style="border: none; padding: 0; margin: 0">
          <legend><b>Category</b></legend>
          <div>
            <input type="radio" id="fruit" name="category" value="fruit" checked />
            <label for="fruit">fruit</label>
          </div>
          <div>
            <input type="radio" id="vegetable" name="category" value="vegetable" />
            <label for="vegetable">vegetable</label>
          </div>
          <div>
            <input type="radio" id="dairy" name="category" value="dairy" />
            <label for="dairy">dairy</label>
          </div>
        </fieldset>
      </section>
      <br />
      <button>Submit</button>
    </form>
    <br />
    <a href="/products">All Products</a>
  </body>
</html>
